<ion-view>
    <ion-content>
    	<div class="container">
				<ul class="pager">
					<li class="previous">
						<a href="#" onclick="return false;" mwl-date-modifier date="viewDate" decrement="calendarView">
				  			<span aria-hidden="true">&larr;</span> Older
				  		</a>
				 	</li>

				    <li>
				    	<a href="#" onclick="return false;" mwl-date-modifier date="viewDate" set-to-today>Today</a></li>

				    <li class="next">
				    	<a href="#" onclick="return false;" mwl-date-modifier date="viewDate" increment="calendarView">
				    		Newer<span aria-hidden="true">&rarr;</span>
				    	</a>
				    </li>
				</ul>
    	<div class="row">
	    	<div class="container col-xs-12" align="center">
	    		<div class="btn-group">
						<button type="submit" class="btn btn-primary" ng-class="calendarView == 'year' ? 'active' : ''" ng-click="switchView('year')">Year</button>
					    <button type="submit" class="btn btn-primary" ng-class="calendarView == 'month' ? 'active' : ''" ng-click="switchView('month')">Month</button>
					    <button type="submit" class="btn btn-primary" ng-class="calendarView == 'week' ? 'active' : ''" ng-click="switchView('week')">Week</button>
			    	    <button type="submit" class="btn btn-primary" ng-class="calendarView == 'day' ? 'active' : ''" ng-click="switchView('day')">Day</button>
			    </div>
	    	</div>
		 </div>
    	</div>

    	<mwl-calendar
		    view="calendarView"
		    view-date="viewDate"
		    events="events"
		    view-title="calendarTitle"
		    on-event-click="openModal(calendarEvent)"
		    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
		    cell-is-open="true">
		</mwl-calendar>
        
        <!-- Modal Popup -->
		<script id="modalContent.html" type="text/ng-template">
		  <ion-modal-view  style="background:rgba(255,255,255,0.0);">
		    <ion-content>
		    	<div class="col-xs-12">
			    	<div class="thumbnail" style="margin-top:50px;padding:8px;">
			    		  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeModal()">
			    		  	<span aria-hidden="true">&times;</span>
			    		  </button>

			      		<img ng-src="{{currentEvent.image}}" 
			      		class=""
			      		alt='Description image' 
			      		style="max-height: 200px; margin-top:25px">

			      		<div class="page-header">
			    			<h1>{{currentEvent.title ? currentEvent.title : currentEvent.placename}} </h1>
			    			<h1><small>{{currentEvent.timetable | customDate}}</small></h1>
			    		</div>
			        	<p>{{currentEvent.description}}</p>
				        <span ng-if="currentEvent.city"><span class="label label-primary">Lieu</span>  {{currentEvent.address}} {{currentEvent.city}}</span> <br>
				        <span ng-if="currentEvent.space_time_info"><span class="label label-default">Prix</span> {{currentEvent.pricing_info}}</span> <br>
			        	<span ng-if="currentEvent.space_time_info"><span class="label label-info">+ Info</span> {{currentEvent.space_time_info}}</span> <br>
			        	<span ng-if="currentEvent.tags"><span class="label label-success">Tags</span> {{currentEvent.tags | splitTags:','}}</span> <br>
						<div class="container text-center">
							<a ui-sref="info({id: event.calendarEventId})" class="" style="margin:auto auto; color:black; opacity:.5;"><strong>Voir plus</strong></a>
						</div>			        	
		    		</div>
		   		</div>
		    </ion-content>
		  </ion-modal-view>
		</script>

    </ion-content>
</ion-view>

	