<ion-view>
    <ion-content>
        <div class="info">
            <img ng-src="{{event.photo}}"
                 class=""
                 alt='Description image'
                 style="max-height: 200px; margin-top:25px">
            <div class="page-header">
                <h1>{{event.name}} </h1>
                <h1><small>{{event.timetable | customDate}}</small></h1>
            </div>
            <p class="body" ng-if="event.body">{{event.body}}</p>
            <p ng-if="event.detail">{{event.detail}}</p>
            <div class="info-pratique">
                <h3>Infos pratiques:</h3>
                <span ng-if="event.address"><span class="label label-primary">Lieu</span>  {{event.address}} {{event.city}}</span> <br>
                <span ng-if="event.time"><span class="label label-info">+ Info</span> {{event.time}}</span> <br>
                <span ng-if="event.price"><span class="label label-default">Entrée</span> {{event.price}}</span> <br>
                <span ng-if="event.tag"><span class="label label-success">Tags</span> {{event.tag | splitTags:','}}</span> <br>
            </div>
        </div>
    </ion-content>
</ion-view>
