/* Empty. Add your own CSS if you like */

.info-window {
    text-transform: uppercase;
}
.info-window > p {
    text-align: center;
    margin-top: 15px;
}
img {
    width: 100%;
}
.angular-google-map-container {
    height: 623px;
}